<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hht.dao.IMsgRepDao">
  <resultMap id="BaseResultMap" type="com.hht.entity.MsgRep">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="messageid" jdbcType="INTEGER" property="messageid" />
    <result column="topname" jdbcType="VARCHAR" property="topname" />
    <result column="sendiden" jdbcType="VARCHAR" property="sendiden" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.hht.entity.MsgRep">
    <result column="content" jdbcType="BINARY" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, messageid, topname, sendiden
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.hht.entity.MsgRepExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from msg_rep
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.hht.entity.MsgRepExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from msg_rep
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from msg_rep
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from msg_rep
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hht.entity.MsgRepExample">
    delete from msg_rep
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hht.entity.MsgRep">
    insert into msg_rep (id, messageid, topname, 
      sendiden, content)
    values (#{id,jdbcType=INTEGER}, #{messageid,jdbcType=INTEGER}, #{topname,jdbcType=VARCHAR}, 
      #{sendiden,jdbcType=VARCHAR}, #{content,jdbcType=BINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.hht.entity.MsgRep">
    insert into msg_rep
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="messageid != null">
        messageid,
      </if>
      <if test="topname != null">
        topname,
      </if>
      <if test="sendiden != null">
        sendiden,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="messageid != null">
        #{messageid,jdbcType=INTEGER},
      </if>
      <if test="topname != null">
        #{topname,jdbcType=VARCHAR},
      </if>
      <if test="sendiden != null">
        #{sendiden,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hht.entity.MsgRepExample" resultType="java.lang.Long">
    select count(*) from msg_rep
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update msg_rep
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.messageid != null">
        messageid = #{record.messageid,jdbcType=INTEGER},
      </if>
      <if test="record.topname != null">
        topname = #{record.topname,jdbcType=VARCHAR},
      </if>
      <if test="record.sendiden != null">
        sendiden = #{record.sendiden,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=BINARY},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update msg_rep
    set id = #{record.id,jdbcType=INTEGER},
      messageid = #{record.messageid,jdbcType=INTEGER},
      topname = #{record.topname,jdbcType=VARCHAR},
      sendiden = #{record.sendiden,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=BINARY}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update msg_rep
    set id = #{record.id,jdbcType=INTEGER},
      messageid = #{record.messageid,jdbcType=INTEGER},
      topname = #{record.topname,jdbcType=VARCHAR},
      sendiden = #{record.sendiden,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hht.entity.MsgRep">
    update msg_rep
    <set>
      <if test="messageid != null">
        messageid = #{messageid,jdbcType=INTEGER},
      </if>
      <if test="topname != null">
        topname = #{topname,jdbcType=VARCHAR},
      </if>
      <if test="sendiden != null">
        sendiden = #{sendiden,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=BINARY},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hht.entity.MsgRep">
    update msg_rep
    set messageid = #{messageid,jdbcType=INTEGER},
      topname = #{topname,jdbcType=VARCHAR},
      sendiden = #{sendiden,jdbcType=VARCHAR},
      content = #{content,jdbcType=BINARY}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hht.entity.MsgRep">
    update msg_rep
    set messageid = #{messageid,jdbcType=INTEGER},
      topname = #{topname,jdbcType=VARCHAR},
      sendiden = #{sendiden,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>